<div class="container  mt-5">
    <div class="row row-cols-3 row-cols-md-4 row-cols-lg-5 row-cols-xl-5 ">
        {{#each products}}
        <div class="col-md-4 " style="padding-bottom: 20px;">
            <div class="card h-100">
                <img src='./product-images/{{this._id}}.jpg' class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{this.Name}}</h5>
                    <p class="card-text">{{this.Category}}</p>

                    {{#if ../user}}
                    {{!-- <a href="/add-to-cart/{{this._id}}" class="btn btn-primary btn-sm">Add to Cart</a> --}}
                    <button onclick="addToCart('{{this._id}}')" class="btn btn-primary">Add to Carts</button>
                    {{else}}
                    {{user.Name}}
                    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        Add to Cart
                    </button>
                    {{/if}}

                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{user.Name}}



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Please login</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Your are not logedIn ! <a></a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" data-bs-target="#SignUp" data-bs-toggle="modal"
                    class="stretched-link ">SignUp</button>
                <button type="button" class="btn btn-primary btn-sm" data-bs-target="#Login"
                    data-bs-toggle="modal">Login</button>
            </div>
        </div>
    </div>
</div>



<script>
    function addToCart(proId) {
        $.ajax({
            url: '/add-to-cart/' + proId,
            method: 'get',
            success:(response)=>{
                if(response.status){
                    let count=$('#cart-count').html()
                    count = parseInt(count)+1
                    $("#cart-count").html(count)
                }
                
            }
        })
    }
</script>